# Ignore All Dependencies
/node_modules/

# Ignore All Idea files
/.idea/

# Ignore All current build files
/dist/ProductionBuild/*
/dist/DeveloperBuild/*

# But do not ignore folders!
!/dist/ProductionBuild/.gitkeep
!/dist/DeveloperBuild/.gitkeep

# Ignore yarn warnings and error
/yarn-error.log