$accent: #4743D8;

$textPrimary: #182024;
$textParagraph: #666666;

$button: #06BA73;
$buttonHover: #047F4E;

$transition: .5s;
$inputTransition: $transition - .2;

$border-radius: 5px;

$input-bgc: #F5F6F7;

$footer: #182024;